/* Estilos para a imagem dentro da barra de navegação (cabeçalho) */
.navbar-brand img {
    margin-right: 10px; /* Adiciona um espaço de 10 pixels à direita da imagem, separando-a do texto. */
    margin-top: -16px; /* Ajusta a posição vertical da imagem, movendo-a 16 pixels para cima. */
    height: 15%; /* Define a altura da imagem como 15% da altura do seu elemento pai. */
}

/* Estilos para o texto (título) dentro da barra de navegação */
.navbar-brand span {
    font-family: 'Alkalami'; /* Define a fonte do texto para 'Alkalami'. */
    font-size: 24px; /* Define o tamanho da fonte do texto para 24 pixels. */
}

/* Estilos para o fundo da barra de navegação (cabeçalho) */
.container-fluid {
    z-index: 200;
    margin-bottom: -12px; /* Define uma margem negativa inferior de 12 pixels, possivelmente para reduzir o espaço abaixo do cabeçalho. */
}
.logo{
    width: 350px;
    height: 300px;
    display: block;
    margin: 0 auto;
}

footer {
    background: linear-gradient(to right, rgb(255, 251, 43)20%, rgb(255, 255, 255) 50%);
    /* Define um gradiente horizontal para o fundo, começando em amarelo e indo para branco na metade. */
    color: black; /* Define a cor do texto como preto. */
    padding: 10px; /* Adiciona um preenchimento de 10 pixels em todos os lados. */
    text-align: center; /* Centraliza o texto dentro do rodapé. */
    width: 100%; /* Ocupa toda a largura disponível. */
    font-weight: 700; /* Define a espessura da fonte como negrito. */
}
.form-label{
    font-size: 20px;
    font-weight: 600;
}
.botaoEnvia{
        background-color: rgb(255, 251, 43) !important;
        border-color: rgb(0, 0, 0) !important;
        color: #000 !important; /* Deixa o texto mais visível com fundo amarelo */
        font-weight: 600 !important;
        margin: 0 auto !important;
        display: block !important;
        width: 200px !important;
    }
.botaoEnvia:hover{
    background-color: rgb(255, 255, 255)!important; 
}






